<form id="uploader" action="/upload" method="post" enctype="multipart/form-data">
<header>Create Scrubbable ready files</header>

<section class='body'>
    <p class='info-text'>Select the video file you would like to convert to scrubbable ready files</p>
    <a href="#" class='inline-button file-select init-file-select'>Select video file <span class="icon-Download"></a>
    
    <div class="selected-file hidden">
        <p><b>Selected File:</b><span class="file-name"></span> <a href="#" class='file-select'> <span class="icon-Refresh"> Select different file</a></p>
    </div>

    <input type="file" name="video" id="file" class="hidden" />
    {{#each errors}} <div class="error">{{this}}</div>{{/each}}
    
<br />
</section>
<section class="form-footer hidden">
    <input type="submit" name="submit" class='button' value="Create Scrubbable files" />
</section>
</form>

