<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="site-title">
      <span>Scrubbable video prep</span>
    </header>

    {{{body}}}

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    {{#if production}}
      <script src="javascripts/bundle.js"></script>
    {{/if}}
    <script>
        System.import('javascripts/main.js');
    </script>
  </body>
</html>
