<div class="data" data-upload-id='{{uploadId}}'></div>
<div id="uploader">
    <header>Create Scrubbable ready files</header>
    <div class='feedback-screen '>
     <section class='body'>
        <div class='info-text'>Generating Scrubbable ready file pack...
            <img src="/images/34px_Icon32px_Lively_Dark.gif" style="height: 20px; display: inline-block; position: relative; top: 5px;left: 10px;">
        </div>
        
        <section class="loading">
           
        </section>
        </div>
        

        
    
    </section>
    <section class="final-screen hidden">
    <div class="download">
        <div class="content">
            <p><span class="icon-Tick"><span class="path1"></span><span class="path2"></span></span> Scrubbable Pack Complete</p>
            <a class='button' href="">Download Scrubbable pack <span class="icon-Download"></a>
            <p><span class="icon-Warning"></span> This file has not been saved and will be lost if you do not download it</p>
        </div>
    </div>
    <section class="form-footer">
        <a class='button' href="/">Create another Scrubbable pack</a>
    </section>
    </section>
</div>
