@import "compass/css3";
@import "compass/reset";
@import "fonts/fonts";

// colors
$lightGrey: #a8a8a8;
$darkGrey: #323232;
$gelBlue: #15525f;
$paleGrey: #f3f3f3;



@mixin total-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}


body {
  font: 14px Helvetica, Arial, sans-serif;
  background: $lightGrey;
}
body * {
    box-sizing: border-box;
}
a {
  color: #00B7FF;
}
.error {
    color: red;
}

.hidden {
    display: none;
}
.image {
    width: 100%;
    text-align: center;
}
@mixin btn-text {
    color: $gelBlue;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    &:hover, &:active {
        color: #071E23;
    }
}

@mixin core-btn {
    @include btn-text;
    background: #d6d6d6;
    padding: 5px;
    border: none;
    margin: 9px auto;
    
    padding-top: 8px;
    padding-bottom: 9px;
    &:hover, &:active {
        background: #ACACAC;
    }
}
.button {
    @include core-btn;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.file-select {
    @include btn-text;
    .selected-file &{
        margin-left: 20px;
    }
}
.file-name {
    margin-left: 10px;
}
.inline-button {
    @include core-btn;
    
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;

    &.cancel {
        float: right;
        margin-top: 15px;
    }
}

.status-report {
    margin-top: 30px;
}
.download {
    position: relative;
    height: 110px;
    text-align: center;
    .content {
        @include total-center;
        width: 100%;
        p {
            width: 80%;
            text-align: left;
            margin: 0 auto;
        }
        [class^="icon-"] {
            @include btn-text;
        }
    }
}
.form-footer {
    background-color: $paleGrey;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 80px;
    padding-top: 15px;
}


.loading-bar-wrapper {
    width: 100%;
    background-color: $lightGrey;
    height: 15px;
    position: relative;
    margin: 10px auto 0;

    .loading-bar {
        position: absolute;
        transition: width 3s;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $gelBlue;
    }
}
.time-remain {
    float: right;
}
.info-text {
    padding: 0 0 12px 0;
}
.init-file-select {
    font-weight: normal;
}
#site-title {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    line-height: 50px;
    font-family: 'CuriousSans-Bold';
    padding-left: 128px;
    font-size: 30px;
    &:before {
        content: '';
        width: 115px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url('/images/bbc_logo.png') no-repeat 5px 10px;
    }
}
.final-screen {
    .content {
        a {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

b {
    font-weight: bolder;
}
#uploader {
    $formHeight: 250px;
    $headerHeight: 60px;
    $formWidth: 630px;
    $bodyHeight: $formHeight - $headerHeight;

    @include total-center;
    background: white;
    min-height: $formHeight;
    width: $formWidth;

    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: $headerHeight;
        color: white;
        line-height: $headerHeight;
        background: $gelBlue;
        font-family: arial;
        padding-left: 20px;
        font-size: 24px
    }
    .body {
        min-height: $bodyHeight;
        position: relative;
        // top: $headerHeight;
        width: 100%;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
    }
}
