html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'CuriousSans-Bold';
  src: url("../../fonts/CuriousSans-Bold.otf") format("opentype");
  src: url("../../fonts/CuriousSans-Bold.eot");
  src: url("../../fonts/CuriousSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/CuriousSans-Bold.woff") format("woff"), url("../../fonts/CuriousSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gelicons-core';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/gelicons-core.ttf") format("truetype");
}
@font-face {
  font-family: 'gelicons-media';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/gelicons-media.ttf") format("truetype");
}
@font-face {
  font-family: 'gelicons-social';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/gelicons-social.ttf") format("truetype");
}
@font-face {
  font-family: 'Scrubbable';
  src: url("../../fonts/Scrubbable.eot?hx50p6");
  src: url("../../fonts/Scrubbable.eot?hx50p6#iefix") format("embedded-opentype"), url("../../fonts/Scrubbable.ttf?hx50p6") format("truetype"), url("../../fonts/Scrubbable.woff?hx50p6") format("woff"), url("../../fonts/Scrubbable.svg?hx50p6#Scrubbable") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Scrubbable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Cross:before {
  content: "\e900";
}

.icon-Download:before {
  content: "\e901";
}

.icon-Progress:before {
  content: "\e902";
}

.icon-Refresh:before {
  content: "\e903";
}

.icon-Tick .path1:before {
  content: "\e904";
  color: #146675;
}

.icon-Tick .path2:before {
  content: "\e905";
  margin-left: -1.0048828125em;
  color: white;
}

.icon-Upload:before {
  content: "\e906";
}

.icon-Warning:before {
  content: "\e907";
}

body {
  font: 14px Helvetica, Arial, sans-serif;
  background: #a8a8a8;
}

body * {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.error {
  color: red;
}

.hidden {
  display: none;
}

.image {
  width: 100%;
  text-align: center;
}

.button {
  color: #15525f;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  background: #d6d6d6;
  padding: 5px;
  border: none;
  margin: 9px auto;
  padding-top: 8px;
  padding-bottom: 9px;
  display: block;
  margin: 0 auto;
  width: 80%;
}
.button:hover, .button:active {
  color: #071E23;
}
.button:hover, .button:active {
  background: #ACACAC;
}

.file-select {
  color: #15525f;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
.file-select:hover, .file-select:active {
  color: #071E23;
}
.selected-file .file-select {
  margin-left: 20px;
}

.file-name {
  margin-left: 10px;
}

.inline-button {
  color: #15525f;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  background: #d6d6d6;
  padding: 5px;
  border: none;
  margin: 9px auto;
  padding-top: 8px;
  padding-bottom: 9px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
}
.inline-button:hover, .inline-button:active {
  color: #071E23;
}
.inline-button:hover, .inline-button:active {
  background: #ACACAC;
}
.inline-button.cancel {
  float: right;
  margin-top: 15px;
}

.status-report {
  margin-top: 30px;
}

.download {
  position: relative;
  height: 110px;
  text-align: center;
}
.download .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
.download .content p {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.download .content [class^="icon-"] {
  color: #15525f;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
.download .content [class^="icon-"]:hover, .download .content [class^="icon-"]:active {
  color: #071E23;
}

.form-footer {
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 80px;
  padding-top: 15px;
}

.loading-bar-wrapper {
  width: 100%;
  background-color: #a8a8a8;
  height: 15px;
  position: relative;
  margin: 10px auto 0;
}
.loading-bar-wrapper .loading-bar {
  position: absolute;
  transition: width 3s;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #15525f;
}

.time-remain {
  float: right;
}

.info-text {
  padding: 0 0 12px 0;
}

.init-file-select {
  font-weight: normal;
}

#site-title {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  line-height: 50px;
  font-family: 'CuriousSans-Bold';
  padding-left: 128px;
  font-size: 30px;
}
#site-title:before {
  content: '';
  width: 115px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("/images/bbc_logo.png") no-repeat 5px 10px;
}

.final-screen .content a {
  margin-top: 10px;
  margin-bottom: 10px;
}

b {
  font-weight: bolder;
}

#uploader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: white;
  min-height: 250px;
  width: 630px;
  box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  overflow: hidden;
}
#uploader header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: white;
  line-height: 60px;
  background: #15525f;
  font-family: arial;
  padding-left: 20px;
  font-size: 24px;
}
#uploader .body {
  min-height: 190px;
  position: relative;
  width: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}
