$font-dir: '../../fonts';
@font-face {
    font-family: 'CuriousSans-Bold';
    src: url('#{$font-dir}/CuriousSans-Bold.otf') format('opentype');
    src: url('#{$font-dir}/CuriousSans-Bold.eot');
    src: url('#{$font-dir}/CuriousSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font-dir}/CuriousSans-Bold.woff') format('woff'),
    url('#{$font-dir}/CuriousSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'gelicons-core';
    font-weight: normal;
    font-style: normal;
    src: url('#{$font-dir}/gelicons-core.ttf') format('truetype');
}

@font-face {
    font-family: 'gelicons-media';
    font-weight: normal;
    font-style: normal;
    src: url('#{$font-dir}/gelicons-media.ttf') format('truetype');
}

@font-face {
    font-family: 'gelicons-social';
    font-weight: normal;
    font-style: normal;
    src: url('#{$font-dir}/gelicons-social.ttf') format('truetype');
}

@font-face {
    font-family: 'Scrubbable';
    src:url('#{$font-dir}/Scrubbable.eot?hx50p6');
    src:url('#{$font-dir}/Scrubbable.eot?hx50p6#iefix') format('embedded-opentype'),
        url('#{$font-dir}/Scrubbable.ttf?hx50p6') format('truetype'),
        url('#{$font-dir}/Scrubbable.woff?hx50p6') format('woff'),
        url('#{$font-dir}/Scrubbable.svg?hx50p6#Scrubbable') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Scrubbable';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Cross:before {
    content: "\e900";
}
.icon-Download:before {
    content: "\e901";
}
.icon-Progress:before {
    content: "\e902";
}
.icon-Refresh:before {
    content: "\e903";
}
.icon-Tick .path1:before {
    content: "\e904";
    color: rgb(20, 102, 117);
}
.icon-Tick .path2:before {
    content: "\e905";
    margin-left: -1.0048828125em;
    color: rgb(255, 255, 255);
}
.icon-Upload:before {
    content: "\e906";
}
.icon-Warning:before {
    content: "\e907";
}